@if (model) {
<div class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add data</h5>
        <button type="button" class="btn-close" (click)="model = undefined"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="mb-3">
            <label for="name" class="form-label">
              Helicopter name
            </label>
            <input type="text" class="form-control" id="name" [value]="model.name" (change)="model.name = getValue($event)">
          </div>
          <div class="mb-3">
            <label for="manufacturer" class="form-label">
              Manufacturer
            </label>
            <input type="text" class="form-control" id="manufacturer" [value]="model.manufacturer" (change)="model.manufacturer = getValue($event)">
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">
              Type
            </label>
            <input type="text" class="form-control" id="type" [value]="model.type" (change)="model.type = getValue($event)">
          </div>
          <div class="mb-3">
            <label for="passengerCapacity" class="form-label">
              Passenger capacity
            </label>
            <input type="number" class="form-control" id="passengerCapacity" [value]="model.passengerCapacity" (change)="model.passengerCapacity = getNumberValue($event)">
          </div>
          <div class="mb-3">
            <label for="maxSpeedKmh" class="form-label">
              Max Speed Km/h
            </label>
            <input type="number" class="form-control" id="maxSpeedKmh" [value]="model.maxSpeedKmh" (change)="model.maxSpeedKmh = getNumberValue($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="model = undefined">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
}
