<div class="container">
  <h1 class="text-center mb-3">Helicopters</h1>
  <table class="table table-hover table-bordered">
    <tr class="text-center">
      <th>
        <span (click)="newHelicopter()">&#10010;</span>
      </th>
      <th>Name</th>
      <th>Manifacturer</th>
      <th>Type</th>
      <th>Passenger capacity</th>
      <th>Max speed Km/h</th>
    </tr>
    @for (helicopter of helicopters; track $index) {
      <tr>
        <td>
          <span (click)="modifyHelicopter(helicopter)">&#9998;</span>
          <span (click)="deleteHelicopter(helicopter)">&#10008;</span>
        </td>
        <td>{{helicopter.name}}</td>
        <td>{{helicopter.manufacturer}}</td>
        <td>{{helicopter.type}}</td>
        <td>{{helicopter.passengerCapacity}}</td>
        <td>{{helicopter.maxSpeedKmh}}</td>
      </tr>
    }
  </table>
</div>

<app-helicopter [model]="modify" (saved)="saveModify($event)"></app-helicopter>
<app-helicopter [model]="new" (saved)="saveNew($event)"></app-helicopter>
